# Direct dependencies for BlackGEM_ML
# Install: pip install -r requirements.txt

astropy==7.2.0
astroquery==0.4.11
google-cloud-bigquery==3.41.0
lightkurve==2.5.1
matplotlib==3.10.8
numpy==2.4.4
pandas==2.3.3
photutils==2.3.0
scikit-learn==1.8.0
scipy==1.17.1
seaborn
tqdm==4.67.3
